
<h2> Spin the Plate Roulette </h2>


<form action="/plates" method="POST">

<p> Not sure what to make for dinner tonight? Pick a few of the things you like below, and Plate Roulette will randomly build a plate for you! </p>

<h4> Select all main ingredients you like (minimum 1): </h4>

	<% @mains_sorted.each do |main| %>
		<p> <input type="checkbox" name="plate[main_ids][]" value="<%= main %>"> <%= main %> </p>
	<% end %>


<h4> And/or enter a new main ingredient: </h4>

	<input type="text" name="plate[main]">

	<br></br>

<h4> Select all side ingredients you like (minimum 2): </h4>

	<% @sides_sorted.each do |side| %>
		<p> <input type="checkbox" name="plate[side_ids][]" value="<%= side %>"> <%= side %> </p>
	<% end %>

<h4> And/or enter a new side ingredient: </h4>

	<input type="text" name="plate[side]">

<br></br>


<input type="submit" value="Spin the Roulette!">


</form>