<p> Your new plate is: </p>

<p> Mains: </p>

<% @possible_mains.each do |main| %>

	<%= main.name %>

<% end %>

<p> Sides: </p>

<% @possible_sides.each do |side| %>

	<%= side.name %>

<% end %>

<br></br>

<p> Like what you see? </p> 

<form action="/result" method="POST">
	<input type="submit" value="Save plate">
</form>

<p> Want to try again? </p>

<form action="/respin" method="POST">
	<input type="submit" value="Spin again">
</form>


