/* FONTS
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
*/

* {
  font-family: 'Roboto Condensed', sans-serif;
  color: darkblue;
  background-color: rgb(245,245,245);
}

.login-status {
  margin: 0 10px;
  height: 21px;
}

p, label {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 16pt;
}

li {
  font-size: 14pt;
}

ul {
  background-color: rgb(245,245,245);
  margin: 0;
}

.error p {
  color: red;
  margin-top: 5px;
}

.success p {
  color: darkgreen;
}

.flash {
  background-color: rgb(245,245,245);
  padding: 10px;
}

#header-bar {
  background-color: darkturquoise;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px black;
  box-shadow:  0 8px 6px -6px darkslategray;;
  z-index: 10;
}

#header-bar > h1, #header-bar p, #header-bar a {
  background-color: darkturquoise;
}

form {
  background-color: rgb(245,245,245);
  padding-top: 10px;
}

input {
  margin-left: 10px;
}

form p {
  padding: 30px 10px 20px;
}

h1 {
  margin: 0 10px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

h3 {
  padding-top: 20px;
  margin: 0;
  background-color: rgb(245,245,245);
}

h4 {
  background-color: rgb(245,245,245);
  margin: 0;
  padding: 20px 0;
}

a {
  font-weight: bold;
}

a:visited {
  color: lightblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 1em 10px;
}

.page {
  background-color: rgb(245,245,245);
  height: 100vh;
}

.page > p {
  padding-left: 10px;
}
