<h2> Create an account: </h2>

<form action="/signup" method="POST">
  <label> Username: </label>
    <input type="text" id="username" name="username" placeholder="Enter username" required>

    <br></br>

  <label> Email: </label>
    <input type="text" id="email" name="email" placeholder="Enter email address" required >

    <br></br>

  <label> Password: </label>
    <input type="password" id="password" name="password" placeholder="Enter password" required >

    <br></br>

  <input type="submit" id="submit" name="submit" value="Create Account">

</form>

<br></br>
