<h2> Here are all of the mains and sides you can choose from: </h2>

<h2> Mains: </h2>
	<ul>
		<% @mains_sorted.sort.each do |main| %>
			<li> <p> <%= main %> </li> </p>
		<% end %>
	</ul>

<h2> Sides: </h2>
	<ul>
		<% @sides_sorted.sort.each do |side| %>
			<li> <p> <%= side %> </li> </p>
		<% end %>
	</ul>

<p> Don't see your favorites on this list? Add your own! </p>

<form action="/ingredients" method="POST">
	<input type="text" name="new_ingredient" placeholder="Type here">

	<p> Is this a main or a side? </p>

	<input type="radio" name="selector" value="main"> Main <br>
	<input type="radio" name="selector" value="side"> Side <br>

	<br />
	<br />

	<input type="submit" value="Save new ingredient">
</form>

<h3> Ready to give it a try? <a href="/plates/new"> Click here </a> to try out the Plate Roulette! </h3>
