<!doctype html>
<html>
	<head>
		<title> Plate Roulette </title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap" rel="stylesheet">
	</head>

	<body>

		<div id="header-bar">

			<h1> Welcome to Plate Roulette! </h1>

			<div class="login-status">
				<p> <%= login_status_display %>
					<% if logged_in? %>
						|  <a href="/">Home</a>
						|  <a href="/logout">Log out </a>
					<% end %>
				</p>
			</div> <!-- .login-status -->

		</div>  <!-- .header-bar -->

		<div class="flash error">
			<% if flash[:error] != "" %>
			<p> <%= flash[:error] %> </p>
			<% end %>
		</div>

		<div class="flash success">
			<% if flash[:success] != "" %>
		 		<p> <%= flash[:success] %> </p>
			<% end %>
		</div>

		<div class="page">
			<%= yield %>
		</div>

	</body>

	<br></br>

</html>
